.cart-no{
    position: absolute;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: red;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

.logo {
    max-height: 70px; 
    border-radius: 15%
}

.fa {
    margin-right: 50px;
}

div{
  //background: #fbdc73;
  //background: #618685;
  background: #623238;
  color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.maintext {
    color: white;
}


@media (max-width: 800px) {
    .main-page {
        font-size: 12px;
    }

    .logo {
        max-height: 50px;
        max-width: 60px;
    }

    .fa {
        font-size: 20px;
        margin-right: 20px;
    }

    .cart-no {
        right: 5px;
    }

    .btn {
        max-width: 100px;
        font-size: 10px;
    } 
}

@media (max-width: 500px) {
    .btn {
        max-width: 60px;
        max-height: 50px;
        font-size: 8px;
    }
    .main-page {
        font-size: 8px;
    }
}