.promo{
    background-color: white;
    padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
    border-style: groove;
}

h3 {
    font-size:3vw;
}
p{
    font-size: 2vw;
}

.promoimg {
    object-fit: fill;
    height: 80%;
    width: 30%;
    margin-right: 50px;
    margin-left: 10px;
}

.promobtn {
    position: absolute; 
    bottom: 0;
    right: 0;
}

.countdown {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.cd-msg {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;
}

.msg1 {
    font-size: 2vw;
}

.msg2 {
    font-size: 3vw;
}

@media (max-width: 800px){
    .promo {
        height: 180px;
    }
}
