

<div class="review" *ngIf="(cart$|async)">
    <div class="header">
        <h3> Comanda: </h3>
    </div>
    <div class="items" *ngFor="let item of (cart$|async).items">
        <div class="img-name">
            <img class="img-fluid image" src="{{item.picture}}">        
            <a class="name" routerLink="/shop/{{item.id}}">{{item.name}}</a>   
        </div>
        <input readonly value="{{item.quantity}}" class="form-control quantity-input">
        <span class="price">{{ item.price*item.quantity | currency: 'RON' : '' : '1.0-0'}}RON</span>
    </div>
    <div class="items" *ngIf="(total$|async).subtotal > 9999">
        <div class="img-name">
            <img class="img-fluid image" src="../../../assets/images/foaieaur.jpg">        
            <a class="name"> Foita de aur alimentara </a>   
        </div>
        <input readonly value="1" class="form-control quantity-input">
        <span class="price">0RON</span>
    </div>
</div>


<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i>
    </button>
    <button (click)="submitOrder()" class="btn btn-primary">
        Comanda!
    </button>
</div>