.review {
	margin: auto;
}

.header {
	margin-bottom: 5%;
	margin-top: 5%;
}

.items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5%;
	border-bottom-style: solid;
	border-color: #623238;
	padding: 20px;

	background-image: url(../../../assets/images/crossword.png);
 	background-repeat:repeat;
}

.img-name {
	display: flex;
	flex-direction: row;
}

.image {
	max-width: 20%;
	display: flex;
	justify-content: flex-start;
	margin-right: 5%;
}

.name {
	font-weight: 600;
}

.quantity-input {
	width: 80px;
	text-align: center;
}

.price {
	margin-left: 5%;
	font-weight: bold;
}

