.shop-page {
    padding-right: 35px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -2%;

    background-image: url(../../assets/images/crossword.png);
	background-repeat: repeat;
}

.filters {
    margin-top: 50px;
}

.prod {
    margin-top: 50px;
}

.container {
    margin-top: 200px;
}

.shoppager {
    margin-top: 20px;
    color: #623238;
}

pagination.active {
    color: #623238 !important;
    background-color: black !important;
}

.list-group-item.active{
    background-color: #623238 !important;
    border-color: black;

}

.listgroup:hover {
    background: rgba($color: gray, $alpha: 0.5);
    transition: all 1s;
}


@media (max-width: 700px) {
    .btn {
        max-width: 100px;
        font-size: 10px;
    }
    .search {
        width: 150px;
    }
    .filters {
        font-size: 10px;
    }
    .selector {
        font-size: 10px;
    }
    .titlefilter {
        font-size: 12px;
    }
}