<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2839.3833669931946!2d22.656810811538417!3d44.630081026063166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475231bb961e7e69%3A0x1fa2be3a860e9d6b!2sBIJUTERIA%20EVE%20S.R.L.!5e0!3m2!1sro!2sro!4v1628776609528!5m2!1sro!2sro" class="googlemap" loading="lazy"></iframe>

<div class="proplist">
    <div>
        <i class="fa fa-map-marker"></i>  Strada Numa Pompiliu 34, Drobeta-Turnu Severin
    </div>
    <div>
        <i class="fa fa-envelope"></i> office@eve-shop.ro 
    </div>
    <div>
        <i class="fa fa-volume-control-phone"> </i> +40252328225
    </div>
    <div>
        <i class="fa fa-facebook"></i> <a href="https://www.facebook.com/evebijuteria"> https://www.facebook.com/evebijuteria</a>
    </div>
</div>