<div *ngIf="(cart$|async) === null">
    <div class="block-heading">
        <h2>Cosul tau este gol</h2>
      </div>
</div>

<!--epic bootstrap-->
<section class="shopping-cart dark" *ngIf="(cart$|async) as cart">
    <div class="container" *ngIf="(total$|async) as total">
       <div class="block-heading">
         <h2>Cosul tau</h2>
       </div>
       <div class="content">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="items" *ngFor="let item of cart.items">
                        <div class="product">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-fluid mx-auto d-block image" src="{{item.picture}}">
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-md-5 product-name">
                                                <div class="product-name">
                                                    <a routerLink="/shop/{{item.id}}">{{item.name}}</a>
                                                    <div class="product-info">
                                                        {{ item.price | currency: 'RON' : '' : '1.0-0'}} RON
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 quantity">
                                                <i (click)="decrementQuantity(item)" class="fa fa-minus-circle text-warning"></i>
                                                <input readonly value="{{item.quantity}}" class="form-control quantity-input">
                                                <i (click)="incrementQuantity(item)" class="fa fa-plus-circle text-warning"></i>
                                                <!--input id="quantity" type="number" value ="{{item.quantity}}" class="form-control quantity-input"-->
                                            </div>
                                            <div class="col-md-3 price">
                                                <span>{{ item.price*item.quantity | currency: 'RON' : '' : '1.0-0'}}RON</span>
                                                <p class="remove"><i (click)="removeItem(item)" class="fa fa-trash"></i></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="summary">
                        <h3>Sumar comanda</h3>
                        <div class="summary-item"><span class="text">Subtotal</span><span class="price">{{total.subtotal | currency: 'RON' : '' : '1.0-0'}} RON</span></div>
                        <div class="summary-item"><span class="text">Livrare</span><span class="price">{{total.shipping | currency: 'RON' : '' : '1.0-0'}} RON</span></div>
                        <div class="summary-item"><span class="text">Total</span><span class="price">{{total.total | currency: 'RON' : '' : '1.0-0'}} RON</span></div>
                        <div *ngIf="total.total > 9999"> 
                            <img src="/assets/images/foaieaur.jpg" width="30px" height="30px">
                            *foita de aur cadou ( <a routerLink="/promo">promotie</a> )
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>